/*************
*   Footer   *
*************/

footer{
  display: flex;
  position: fixed;
  bottom: 0;
  color: white;
  flex-flow: row nowrap;
  padding-top: 10px;
  text-align: center;
  height: 6rem;
  width: 100%;
  min-width: 43.75rem;
  background-color: rgb(160, 160, 160);
}

footer div{ width: calc(100%/3); }

footer h2{
  text-transform: uppercase;
  font-size: 19px;
  letter-spacing: 2px;
  font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
}

footer li{
	font-size: 12px;
}